<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'DYKEPOLE.Name'}}"/></h1>
      <div class="camp-resources">
        <div class="form-group">
          <label>{{localize "DYKEPOLE.CampAspiration"}}</label>
          <input type="text" name="system.aspiration" value="{{system.aspiration}}" />
        </div>
        <div class="form-group">
          <label>{{localize "DYKEPOLE.Cargo"}}</label>
          <input type="number" name="system.cargo.value" value="{{system.cargo.value}}" /> / <span>{{system.cargo.max}}</span>
        </div>
      </div>
    </div>
  </header>
  <section class="sheet-body">
    <fieldset>
        <legend>{{localize "DYKEPOLE.CampRatings"}}</legend>
        <div class="ratings-grid">
            {{#each system.ratings as |rating key|}}
            <div class="rating-entry">
                <a class="rating-label rollable-rating" data-rating="{{key}}">{{localize (concat "DYKEPOLE.Rating" (titleCase key))}}</a>
                <input type="number" name="system.ratings.{{key}}.value" value="{{rating.value}}" min="0" max="{{rating.max}}" />
            </div>
            {{/each}}
        </div>
    </fieldset>
    <div class="camp-lists">
        <div class="item-category">
            <header class="category-header"><h3><i class="fas fa-users"></i> {{localize "DYKEPOLE.Factions"}}</h3><a class="item-create" data-type="faction" title="{{localize 'DYKEPOLE.Add'}}"><i class="fa fa-plus"></i></a></header>
            <ul class="items-list">
                {{#each actor.items as |item id|}}
                    {{#if (eq item.type "faction")}}
                    <li class="item" data-item-id="{{item.id}}">
                        <img src="{{item.img}}"/><span class="item-name">{{item.name}}</span>
                        <div class="item-controls"><a class="item-edit" title="{{localize 'DYKEPOLE.Edit'}}"><i class="fas fa-edit"></i></a><a class="item-delete" title="{{localize 'DYKEPOLE.Delete'}}"><i class="fas fa-trash"></i></a></div>
                    </li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
        <div class="item-category">
            <header class="category-header"><h3><i class="fas fa-scroll"></i> {{localize "DYKEPOLE.CampAspects"}}</h3><a class="item-create" data-type="aspect" title="{{localize 'DYKEPOLE.Add'}}"><i class="fa fa-plus"></i></a></header>
             <ul class="items-list">
                {{#each actor.items as |item id|}}
                    {{#if (eq item.type "aspect")}}
                    <li class="item" data-item-id="{{item.id}}">
                        <img src="{{item.img}}"/><span class="item-name">{{item.name}}</span>
                        <div class="item-controls"><a class="item-edit" title="{{localize 'DYKEPOLE.Edit'}}"><i class="fas fa-edit"></i></a><a class="item-delete" title="{{localize 'DYKEPOLE.Delete'}}"><i class="fas fa-trash"></i></a></div>
                    </li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
  </section>
</form>