<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'DYKEPOLE.Name'}}"/></h1>
    </div>
  </header>
  <section class="sheet-body">
    {{#if (or (eq item.type "equipment") (eq item.type "shard") (eq item.type "map"))}}
    <div class="form-group">
      <label>{{localize "DYKEPOLE.Tags"}}</label>
      <textarea name="system.tags">{{system.tags}}</textarea>
    </div>
    {{/if}}

    {{#if (eq item.type "injury")}}
    <div class="form-group">
      <label>{{localize "DYKEPOLE.Description"}}</label>
      <textarea name="system.description">{{system.description}}</textarea>
    </div>
    {{/if}}
    
    {{#if (eq item.type "faction")}}
    <div class="form-group">
      <label>Ідеал</label>
      <input type="text" name="system.ideal" value="{{system.ideal}}"/>
    </div>
    <div class="form-group">
      <label>Ключові особи</label>
      <input type="text" name="system.key_people" value="{{system.key_people}}"/>
    </div>
    <div class="form-group">
      <label>Активи</label>
      <textarea name="system.assets">{{system.assets}}</textarea>
    </div>
    {{/if}}
  </section>
</form>